body {
	background: #ffffff !important;
	padding-top:5px;
	p {
  	color:#444444;
	}
	a {
  	font-weight: bold;
	}
	img {
  	max-width: 580px !important;
	}
}

.logo {
	margin-bottom: 15px;
	img {
		width: 200px !important;
		display:block !important;
	}
}

// Narrative-Specifc Email Styles
body.narrative {
  th img {
    margin:0 0 17px 0;                   // The extra 7px on here are to make the space below an image visually match the space that follows a paragraph. Takes line height into account. 
  }
}